
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>State</th>
            <th>City</th>
            <th>Zip</th>
            <th>Phone-No</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let Address of Addresses">
            <td>{{Address.id}}</td>
            <td>{{Address.full_name}}</td>
            <td>{{Address.address}}</td>
            <td>{{Address.state}}</td>
            <td>{{Address.city}}</td>
            <td>{{Address.zip}}</td>
            <td>{{Address.phone_no}}</td>
            <td>
                <button (click)="updateAddress(Address.id)" class="btn btn-info">UPDATE</button>
            </td>
            <td>
                <button (click)="deleteAddress(Address.id)" class="btn btn-danger">DELETE</button>
            </td>
        </tr>
    </tbody>
</table>